<%= simple_form_for(@survey_taker,  html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
	    <%= f.input :name, class: "text-field form-control", html: {spellcheck: "false"} %>
  </div>

  <div class="form-group">
	    <%= f.input :number, class: "bfh-phone form-control", "data-format" => "dddd-ddd-ddd", html: {spellcheck: "false"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register" %>
  </div>
<% end %>
