<% content_for :page_title do %>Past Polls<% end %>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
            <% @polls = Poll.where(user_id: current_user).where("(end_date < ?) OR (end_date = ?)", Date.today, Date.today).order(created_at: :desc) %>
            <% @polls.each do |poll| %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> <%= link_to poll.question, poll %>
                    </div>
                    <div class="panel-body">
                        <%= poll.subtext %>
                        <% if poll.votes > 0 %>
                            <div id="morris-donut-chart<%= poll.id %>"></div>
                            <span class="lead">Total votes: <%= poll.votes %></span>
                            <script type="text/javascript">
                                var ls = [];
                                <% poll.options.each do |option| %>
                                    ls.push({label: "<%= option.title %>", value: <%= option.votes %>});
                                <% end %>

                                Morris.Donut({
                                    element: 'morris-donut-chart<%= poll.id %>',
                                    data: ls,
                                    resize: true
                                });
                            </script>
                        <% else %>
                            <p>No votes have been received</p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <%= render partial: "elements/new_poll" %>
            <%= render partial: "elements/current_history" %>
        </div><!-- /.col-lg-4 -->
    <!-- /.row -->