<%- model_class = Poll -%>
<% content_for :title do %>
  <%= @poll.question %>
<% end %>

<div class="row">
  <span class="lead"><%= @poll.subtext %></span>
</div>

<div class="row">
  <% @poll.options.each do |option| %>
    <div class="row">
      <h2><%= option.title %></h2>
    </div>

  <% end %>
</div>

<div class="row">
  <div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              polls_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_poll_path(@poll), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              poll_path(@poll),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>


